 /* ==================
    general css  
================== */
 
 body {
     display: grid;
     text-align: center;
     font-family: 'Montserrat', sans-serif;
     padding: 0;
     margin: 0;
     width: 100%;
     height: 100vh;
     background-image: url(pictures/aus/syndey2.png);
     background-size: cover;
     backdrop-filter: blur(6px);
     cursor: url(pictures/cursor-small.jpg), auto !important;
 }
 
 nav * {
     list-style: none;
     color: black;
 }
 
 img {
     max-width: 100px;
     max-height: 100px;
 }
 /* ==================
    header part 
================== */
 
 header {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
 }
 
 nav {
     display: flex;
     justify-content: flex-end;
     font-size: 1.2rem;
     list-style-type: none;
     text-transform: uppercase;
 }
 
 ul {
     display: flex;
 }
 
 a {
     display: block;
     padding: 5px;
 }
 
 .logimg {
     display: flex;
 }
 
 .flagimg {
     display: flex;
     border-radius: 70%;
     border: 3px solid black;
     float: left;
 }
 
 .headLine {
     display: flex;
     justify-content: center;
     font-size: 1.2rem;
     font-weight: 800;
     opacity: 0.6;
     transition: 0.3s;
 }
 
 .headLine:hover {
     opacity: 3
 }
 /* ==================
     main part
================== */
 
 main {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 80%;
     padding: 0%;
     margin: 10px;
 }
 
 button {
     border-radius: 5%;
     width: 60px;
     height: 40px;
 }
 
 iframe {
     display: block;
     margin: 10px;
     height: fit-content;
     width: fit-content;
 }
 /* ==================
     text part
================== */
 
 .textSection {
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     padding: 0%;
 }
 
 .topFive {
     display: flex;
     justify-content: center;
     font-size: 1rem;
     font-weight: 600;
 }
 
 h3 {
     display: flex;
     justify-content: center;
     opacity: 0.5;
     transition: 0.3s;
 }
 
 h3:hover {
     opacity: 3
 }
 
 .lifive {
     display: flex;
     justify-content: space-evenly;
     /* list-style: outside; */
 }
 
 p {
     text-align: center;
     font-size: 1rem;
     font-weight: 600;
 }
 /* ==================
     footer part
================== */
 
 footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
 }